tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:一般;
	mso-style-id:0;}
.font6
	{color:windowtext;
	font-size:20.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font21
	{color:red;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font22
	{color:red;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-size:18.0pt;}
.xl66
	{mso-style-parent:style0;
	font-size:20.0pt;}
.xl67
	{mso-style-parent:style0;
	font-size:11.0pt;}
.xl68
	{mso-style-parent:style0;
	font-size:11.0pt;
	text-align:center;}
.xl69
	{mso-style-parent:style0;
	font-size:11.0pt;
	mso-number-format:"\0022¥\0022\#\,\#\#0\.00_\)\;\[Red\]\\\(\0022¥\0022\#\,\#\#0\.00\\\)";}
.xl70
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-weight:700;
	text-align:center;
	border:.5pt solid windowtext;
	background:#D8D8D8;
	mso-pattern:black none;
	white-space:normal;}
.xl71
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-weight:700;
	mso-number-format:"\#\,\#\#0\.00\;\[Red\]\#\,\#\#0\.00";
	text-align:center;
	border:.5pt solid windowtext;
	background:#D8D8D8;
	mso-pattern:black none;
	white-space:normal;}
.xl72
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	mso-number-format:"\#\,\#\#0\.00\;\[Red\]\#\,\#\#0\.00";
	text-align:center;
	border:.5pt solid windowtext;
	background:#D8D8D8;
	mso-pattern:black none;
	white-space:normal;}
.xl73
	{mso-style-parent:style0;
	font-size:20.0pt;
	font-weight:700;
	text-align:center;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl74
	{mso-style-parent:style0;
	font-size:20.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl75
	{mso-style-parent:style0;
	color:black;
	font-size:11.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:top;
	border:.5pt solid black;
	white-space:normal;}
.xl76
	{mso-style-parent:style0;
	color:black;
	font-size:20.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl77
	{mso-style-parent:style0;
	font-size:20.0pt;
	mso-number-format:"0\.0_ ";
	text-align:center;
	border:.5pt solid windowtext;}
.xl78
	{mso-style-parent:style0;
	font-size:20.0pt;
	mso-number-format:"0\.0_ ";
	text-align:center;
	border:.5pt solid windowtext;
	background:#B6DDE8;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style0;
	color:red;
	font-size:20.0pt;
	text-align:left;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl80
	{mso-style-parent:style0;
	font-size:20.0pt;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl81
	{mso-style-parent:style0;
	font-size:20.0pt;
	text-align:left;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl82
	{mso-style-parent:style0;
	font-size:18.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl83
	{mso-style-parent:style0;
	font-size:40.0pt;
	font-weight:700;
	font-family:黑体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	text-align:center;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl84
	{mso-style-parent:style0;
	font-size:18.0pt;
	font-weight:700;
	font-family:黑体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	text-align:center;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl85
	{mso-style-parent:style0;
	font-weight:700;
	font-family:新細明體, serif;
	mso-font-charset:136;
	text-align:center;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl86
	{mso-style-parent:style0;
	font-weight:700;
	font-family:新細明體, serif;
	mso-font-charset:136;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl87
	{mso-style-parent:style0;
	font-size:20.0pt;
	font-weight:700;
	font-family:新細明體, serif;
	mso-font-charset:136;
	text-align:left;
	background:white;
	mso-pattern:black none;}
.xl88
	{mso-style-parent:style0;
	font-size:20.0pt;
	font-weight:700;
	font-family:新細明體, serif;
	mso-font-charset:136;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl89
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	font-family:新細明體, serif;
	mso-font-charset:136;
	mso-number-format:"Short Date";
	text-align:right;
	background:white;
	mso-pattern:black none;}
.xl90
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	font-family:新細明體, serif;
	mso-font-charset:136;
	mso-number-format:"Short Date";
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl91
	{mso-style-parent:style0;
	font-size:18.0pt;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl92
	{mso-style-parent:style0;
	font-size:18.0pt;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	white-space:normal;}
.xl93
	{mso-style-parent:style0;
	font-size:18.0pt;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	white-space:normal;}
.xl94
	{mso-style-parent:style0;
	color:black;
	font-size:24.0pt;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#93CDDD;
	mso-pattern:black none;
	white-space:normal;}
.xl95
	{mso-style-parent:style0;
	color:black;
	font-size:24.0pt;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#93CDDD;
	mso-pattern:black none;
	white-space:normal;}
.xl96
	{mso-style-parent:style0;
	color:black;
	font-size:24.0pt;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#93CDDD;
	mso-pattern:black none;
	white-space:normal;}
.xl97
	{mso-style-parent:style0;
	font-size:24.0pt;
	font-weight:700;
	mso-number-format:"\0022¥\0022\#\,\#\#0\.00_\)\;\[Red\]\\\(\0022¥\0022\#\,\#\#0\.00\\\)";
	text-align:center;
	border:.5pt solid windowtext;
	background:#93CDDD;
	mso-pattern:black none;}
.xl98
	{mso-style-parent:style0;
	color:red;
	font-size:14.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl99
	{mso-style-parent:style0;
	color:red;
	font-size:14.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	white-space:normal;}
.xl100
	{mso-style-parent:style0;
	color:red;
	font-size:14.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:top;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	white-space:normal;}
.xl101
	{mso-style-parent:style0;
	color:red;
	font-size:14.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	white-space:normal;}
